 <%= render 'layouts/sidebar' %>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="bookings-dashboard container">
    <h5> <%= current_user.name %>, this is where you book your stay.</h5>
    <div class="row">
        <div class="col">
            <div class="card">
            <%= image_tag('pedro-lastra-Nyvq2juw4_o-unsplash.jpg', class:"card-img-top") %>

                <div class="card-body">
                    <div class="card-title">
                        <h5>New York, NY</h5>
                    </div>
                    <div class="card-text">
                        <p> Description: Enjoy the breath taking views of NYC</p>
                        <p>Price: $100/night</p>
                        <button class="btn btn-warning">Book</button>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col">
            <div class="card">
            <%= image_tag('pedro-lastra-Nyvq2juw4_o-unsplash.jpg', class:"card-img-top") %>
                <div class="card-body">
                    <div class="card-title">
                        <h5>New York, NY</h5>
                    </div>
                    <div class="card-text">
                        <p> Description: Enjoy the breath taking views of NYC</p>
                        <p>Price: $100/night</p>
                        <button class="btn btn-warning">Book</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <%= image_tag('pedro-lastra-Nyvq2juw4_o-unsplash.jpg', class:"card-img-top") %>
                <div class="card-body">
                    <div class="card-title">
                        <h5>New York, NY</h5>
                    </div>
                    <div class="card-text">
                        <p> Description: Enjoy the breath taking views of NYC</p>
                        <p>Price: $100/night</p>
                        <button class="btn btn-warning">Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>