<section id="hero-home">
    <div class="container-fluid home-text">
        <h1>A New Way To Live</h1>
        <h3>Culture first. Community second.</h3>
        <button type="button" class="btn btn-outline-light btn-lg">EXPLORE</button>
    </div>
</section>




<section id="homebase-difference">
    <div class="homebase-text">
        <h1>Why Homebase?</h1>
        <div class="why-line"></div>
        <p>We offer 3 ways to live.</p>
    </div>
    <div class="homebase-content">
        <%= image_tag('Blue and Black Comparison Chart Presentation.png', height: "450", class:"room-img") %>
    </div>
</section>


<section id="community" class="container">
    <div class="community-text">
        <h1>The Homebase Difference</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <%= image_tag('workvillage.png', class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Dedicated Work Village</h5>
        <p class="card-text">Our "work village" includes a large shared office space with hot desk, private offices, a conference room, quiet rooms, and printing solutions.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag('gym.png', class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">Gym</h5>
        <p class="card-text">Our arrangement provides an open workout experience that includes a range of cardio and weight training equipment, as well as a flexbile turf area.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag('thecommons.png', class:"card-img-top")%>
      <div class="card-body">
        <h5 class="card-title">The Commons</h5>
        <p class="card-text">This area - a kind of informal living room - it serves as the social center of the community. It also connects to our Homekitchen which is family-style food service amentity where guest can gather and chat or grab and go.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag('studioclassroomphoto.png', class:"card-img-top")%>
      <div class="card-body">
        <h5 class="card-title">Studio</h5>
        <p class="card-text">The yoga studio is semi-distinct from other areas in the building. It features an exterior garden balcony bringing a tranquil refuge.</p>
      </div>
    </div>
  </div>
</div>
</section>

<section id="app" class="app-features container">
<div class="app-feature-header">
    <h1 class="text-center">Meet the modern mobile app for co-living.</h1>
</div>
<div class="row app-row">
    <div class="col">
        <i class="fa fa-credit-card fa-7x"></i>
        <h5>Secure Bookings</h5>
        <p>Paying for your stay is simple and secure through the Homebase mobile app. Receive notifications when your payment is processed.</p>
    </div>
    <div class="col">
        <i class="fa fa-comments"></i>
        <h5>Homebase Community Feed</h5>
        <p>Residents can connect with each other and staff online through the Community Feed, including posting photos, events, and more.</p>
    </div>
    <div class="col">
    <i class="fa fa-umbrella-beach"></i>
    <h5>Amenity Bookings</h5>
    <p>Residents can browse and book amenities from their app, including viewing time slot availability, capacity limits, & editing bookings.</p>
    </div>
</div>
<div class="row app-row">
    <div class="col">
        <i class="fa fa-key"></i>
        <h5>Keyless Entry</h5>
        <p>Residents can enter the building by using their smartphones as a key with Homebase mobile key. Keyless entry is simple.</p>
    </div>
    <div class="col">
        <i class="fa fa-wrench"></i>
        <h5>Maintenance Request</h5>
        <p>We simplifies maintenance ticketing with a streamlined process for residents and real-time alerts for property staff.</p>
    </div>
    <div class="col">
        <i class="fa fa-comment"></i>
        <h5>Private Chat servicing</h5>
        <p>Residents can connect directly with property staff for any servicing issues through the Homebase chat function within the app.</p>
    </div>
</div>
<div class="row app-row">
    <div class="col">
    <i class="fa fa-ticket"></i>
    <h5>Homebase Marketplace</h5>
    <p>Residents can buy or sell goods or services from vendors, or directly from each other, in the in-app Homebase Marketplace.</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
</div>
</section>

<section id="cta">
    <div class="cta-content container-fluid">
        <h1>Ready to stay with us?</h1>
        <button type="button" class="btn btn-outline-light btn-lg">BOOK</button>
    </div>
</section>

<footer>
    <div class="footer-content container-fluid">
        <div class="row">
            <div class="col">
                <h5>Product</h5>
                <ul>
                    <li>Homebase Mobile</li>
                    <li>FAQs</li>
                </ul>
            </div>
            <div class="col">
                <h5>Company</h5>
                <ul>
                    <li>Book</li>
                    <li>Why Homebase</li>
                    <li>Our Community</li>
                </ul>
            </div>
            <div class="col">
                <h5>Contact & Support</h5>
                <p>Homebase HQ, New York, NY</p>
            </div>
        </div>
    </div>
    <p>Copyright © Homebase 2021 </p>
</footer>


