<!DOCTYPE html>
<html>
  <head>
    <title>Homebase - A New Way To Live</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <script src="https://use.fontawesome.com/d0cf46af07.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application',
'https://fonts.googleapis.com/css2?family=Arimo&family=Oswald:wght@600&display=swap" rel="stylesheet',
 media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
